/vendor/
/UPGRADE.md
/nbproject/
/client/ext/5.1.0/
/client/help/pomoc-admin-super.odt
/client/help/pomoc-admin-zwykly.odt
/client/help/pomoc-pracownik-kierownik.odt
/client/help/pomoc-pracownik-lider.odt
/client/help/pomoc-pracownik-zwykly.odt
/client/help/pomoc-zarzad-prezes.odt
/prace.txt
/AskFtpSiteDeployer.xml